<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <h1>Video List</h1>
    <div class="video-container">
    {% for video in videos %}
        <div class="video-card">
            <div class="video-thumbnail">
                <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
            </div>
            <div class="video-details">
                <h2 class="video-title">{{ video.title }}</h2>
                <p class="video-channel">Channel: {{ video.channel }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>
